@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}

header {
    text-align: center;
    margin-top: 50px;
}   

header h1 {
    font-size: 2.5rem;
    text-align: left;
    color: hsl(300, 43%, 22%);
    margin: 10px 100px;
}

header p {
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    margin-top: 10px ;
}

.stars_container{
    color: hsl(300, 43%, 22%);
}

.cards_container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}