@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-image: url('imagen/bg-pattern-top-mobile.svg'), url('imagen/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-bottom: 50px;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin: 80px 50px 10px 50px;
}

header p {
    font-size: 18px;
    color: hsl(303, 10%, 53%);
    margin: 10px 25px;
    text-align: center;
}

section.ratings {
    color: hsl(300, 43%, 22%);
    margin-top: 30px;
    text-align: center;
}

section.ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .stars{
    border-radius: 8px;
    background-color:hsl(300, 24%, 96%);
    margin: 10px auto;
    width: 330px;
    height: 70px;
    padding: 15px;
    font-weight: 700;
    align-items: center;
}
section h2 {
    margin-top: 10px;
    font-size: 18px;
}

section.testimonials {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    
}

section article.card{
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
    margin: 10px auto;
    padding: 15px;
    max-width: 330px;
    height: 240px;;
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
} 
article.card img {
    width: 40px;
    height: 40px;;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}  

article.card p {
    grid-column: 1 / 3;
    font-weight: 500;
    line-height: 20px;
    margin-top: 1px;
}

article.card span.nombre{
    font-weight: 700;
    margin-top: 30px;
    grid-column: 2 / 3;
    text-align: left;
}

article.card span.estado{
    color: hsl(333, 80%, 67%);
    grid-column: 2 / 3;
    margin-bottom: 10px;
    text-align: left;
}


@media (min-width: 1024px) {

body {
    max-width: 1000px;
}

main{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

header {
    max-width: 450px;
    margin-top: 100px;
}

header h1 {
    font-size: 3.5rem;
    text-align: left;
    margin: 0 0 20px 0;
}

header p {
    text-align: left;
    margin: 0;
}

section.ratings{
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin-top: 100px;
}
section .stars{
    display: flex;
    justify-content: left;
    gap: 10px;
    width: 450px;
    height: 50px;
    padding: 10px 30px;
    font-weight: 700;
}

.stars h2{
    margin-left: 30px;
}

.stars.five1{
    margin-left: 0;
}

.stars.five2{
    margin-left: 50px;
}

.stars.five3{
    margin-left: 100px;
}

section.testimonials{
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    gap: 20px;
}

.card.card1{
    margin-top: 0;
}

.card.card2{
    margin-top: 20px;
}

.card.card3{
    margin-top: 40px;
}
}

